icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;
    
}

.icon-sm-tb {
    width: 2rem;
    height: 2rem;
}

.icon-sm-tb-2 {
    width: 2rem;
    height: 2rem;
}

@media screen and (max-width: 600px) {
    .icon-sm-tb {
        width: 1.5rem;
        height: 1.5rem;
    }

    .icon-sm-tb-2 {
        width: 1.5rem;
        height: 1.5rem;
    }
  }

