input.form-control:hover {
    box-shadow: none !important;
}

.profiledropdown {
    p {
        padding-left: 20px;
        color: #000;
        text-align: center;
        font-family: 'Poppins';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 14px */
    }
}



.welcome-hero {
    border-bottom: 3px solid #527AA4;

    .title-1 {
        color: #000;
        font-family: 'Poppins';
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .subtitle-1 {
        color: #000;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .subtitle-2 {
        color: #527AA4;
        font-family: 'Poppins';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    img {
        width: 100%;
    }
}

.card-competition {
    .gec {
        img {
            height: 165px;
        }

        .card-gec {
            border-radius: 12px 12px 0 0;
            border: 3px solid #539275;
            background: #FFF;
            height: 294.33px;
        }

        .ket-pendaftaran {
            font-family: 'Poppins';
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 8px */
        }

        .details {
            border-radius: 0 0 12px 12px;
            border: 3px solid #539275;
            // background: #FFF;
        }

        .detailpendaftaran {
            .ket-pendaftaran {
                color: #539275 !important;
                font-family: 'Poppins';
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                /* 8px */
            }

            border-radius: 0 0 0 12px;
            background-color: #FFF;
        }

        .detailanggota {
            border-radius: 0 0 12px 0;
            background-color: #539275;

            .ket-pendaftaran {
                color: white !important;
                font-family: 'Poppins';
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                /* 8px */
            }
        }

        .detail {
            color: #000;
            font-family: 'Poppins';
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            text-align: center;
        }

        .card-gec {
            border-radius: 12px 12px 0 0;
            border: 3px solid #539275;
            background: #FFF;
        }

        .card-gec1 {
            width: 100%;
            color: #000;
            text-align: center;
            font-family: 'Poppins';
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            border-left: 3px solid #539275;
            border-right: 3px solid #539275;
        }

    }

    .cpcc {
        .card-cpcc {
            border-radius: 12px 12px 0 0;
            border: 3px solid #93B4D1;
            background: #FFF;
            height: 294.33px;
        }

        .ket-pendaftaran {
            font-family: 'Poppins';
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 8px */
        }

        .card-cpcc1 {
            width: 100%;
            color: #000;
            text-align: center;
            font-family: 'Poppins';
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            border-left: 3px solid #93B4D1;
            border-right: 3px solid #93B4D1;
        }

        .details {
            border-radius: 0 0 12px 12px;
            border: 3px solid #93B4D1;
            // background: #FFF;
        }

    }

    .cesc {
        .card-cesc {
            border-radius: 12px 12px 0 0;
            border: 3px solid #C0B4D1;
            background: #FFF;
            height: 294.33px;
        }

        .ket-pendaftaran {
            font-family: 'Poppins';
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 8px */
        }

        .card-cesc1 {
            width: 100%;
            color: #000;
            text-align: center;
            font-family: 'Poppins';
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            border-left: 3px solid #C0B4D1;
            border-right: 3px solid #C0B4D1;
        }

        .detailanggota {
            background-color: #C0B4D1;
        }
    }

    .details {
        border-radius: 0 0 12px 12px;
        border: 3px solid #C0B4D1;
        // background: #FFF;
    }

    .detailpendaftaran {
        .ket-pendaftaran {
            color: #C0B4D1 !important;
            font-family: 'Poppins';
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 8px */
        }

        border-radius: 0 0 0 12px;
        background-color: #FFF;
    }

    .detailanggota {
        border-radius: 0 0 12px 0;
        background-color: #93B4D1;

        .ket-pendaftaran {
            color: white !important;
            font-family: 'Poppins';
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 8px */
        }
    }

    .detail {
        color: #000;
        font-family: 'Poppins';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        text-align: center;
    }





    .card-cesc {
        border-radius: 12px;
        border: 3px solid #C0B4D1;
        background: #FFF;
    }

    .competitle {
        width: 100%;
        color: #000;
        font-family: 'Golos Text';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 1px;
        text-align: center;
    }
}

.back {
    a:hover {
        background-color: hsla(0, 0%, 0%, 0.22) !important;
    }
}

.card-body {
    .title {
        color: #527AA4;
        font-family: 'Poppins';
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .term {
        color: #BC4749;
        font-family: 'Poppins';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

}


.form-pendaftaran {
    color: #000;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media screen and (max-width: 720px) {
        font-size: 14px;
    }
}

.fileupload {
    .btn-file {
        p.imagetitle {
            color: #0F172A;
            font-family: 'Inter';
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;

            span {
                color: #527AA4;
            }
        }

        p.imagesubtitle {
            color: #6A738F;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;
        }

        margin: 0;
        padding: 0;
        position: relative;
        z-index: 1;
    }

    .btn-file__actions {
        margin: 0;
        padding: 0;
    }

    .btn-file__actions__item {
        padding: 35px;
        font-size: 1.5em;
        color: rgba(82, 121, 163, 0.62);
        cursor: pointer;
        text-decoration: none;
        border-top: 3px dashed rgba(82, 121, 163, 0.62);
        border-left: 3px dashed rgba(82, 121, 163, 0.62);
        border-bottom: 3px dashed rgba(82, 121, 163, 0.62);
    }

    .btn-file__actions__item:first-child {
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
    }

    .btn-file__actions__item:last-child {
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        border-right: 3px dashed rgba(82, 121, 163, 0.62);
    }

    .btn-file__actions__item:hover,
    .btn-file__actions__item:focus {
        color: #636b6f;
        background-color: rgba(211, 224, 233, 0.1);
    }

    .btn-file__actions__item:hover--shadow,
    .btn-file__actions__item:focus--shadow {
        box-shadow: rgba(82, 121, 163, 0.62) 0 0 60px 15px;
    }

    .btn-file__actions__item--shadow {
        display: inline-block;
        position: relative;
        z-index: 1;
    }

    .btn-file__actions__item--shadow::before {
        content: " ";
        box-shadow: #fff 0 0 60px 40px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    .btn-file__preview {
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        border-radius: 35px;
        background-size: cover;
        background-position: center;
    }

    .form-group label.attachment {
        width: 100%;
    }

    .form-group label.attachment .btn-create>a,
    .form-group label.attachment .btn-create>div {
        margin-top: 5px;
    }

    .form-group label.attachment input[type="file"] {
        display: none;
    }
}

.image-sub-label {
    color: #000;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-civex {
    background-color: #527AA4 !important;
    border-color: #527AA4 !important;
    color: #fff !important;
    padding: 6px 45px !important;

    text-align: center;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.btn-civex:hover {
    background-color: rgba(255, 255, 255, 0.62) !important;
    border-color: #527AA4 !important;
    color: #527AA4 !important;
    padding: 6px 45px !important;

    text-align: center;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}


.btn-civex-danger {
    background-color: #BC4749 !important;
    border-color: #BC4749 !important;
    color: #fff !important;
    padding: 6px 45px !important;

    text-align: center;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.btn-civex-danger:hover {
    background-color: #000 !important;
    border-color: #BC4749 !important;
    color: #BC4749 !important;
    padding: 6px 45px !important;
    text-align: center;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.kuotahabis {
    border-radius: 5px;
    background: rgba(188, 71, 73, 0.62);
    display: flex;
    padding: 5px 15px !important;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.verifikasi {
    p.form {
        color: #000;
        font-family: 'Poppins';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media screen and (max-width: 720px) {
            font-size: 12px !important;
        }
    }

    .danger {
        border-radius: 5px;
        background: rgba(188, 71, 73, 0.62);
        display: flex;
        padding: 5px 15px !important;
        text-align: center;
        gap: 10px;

        p {
            color: #000;
            font-family: 'Roboto';
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }

    .success {
        border-radius: 5px;
        background: #DBF4A7;
        display: flex;
        padding: 5px 15px !important;
        text-align: center;
        gap: 10px;

        p {
            color: #000;
            font-family: 'Roboto';
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }

    .medium {
        border-radius: 5px;
        background: #FFE898;
        display: flex;
        padding: 5px 15px !important;
        text-align: center;
        gap: 10px;

        p {
            color: #000;
            font-family: 'Roboto';
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }

    a {
        .btn-daftar {
            padding: 5px 20px !important;
            background: rgba(82, 122, 164, 0.12);
            border-radius: 5px;
            border: 1px solid #527AA4;
            color: #527AA4;

        }

        .btn-daftar:hover {
            padding: 5px 20px !important;
            background: rgba(82, 122, 164, 0.62);
            border-radius: 5px;
            border: 1px solid #527AA4;
            color: #000;
            transition: background-color 0.5s ease;
        }
    }
}


.back {
    ion-icon {
        width: 18px;
    }

    h4 {
        @media screen and (max-width: 720px) {
            font-size: 0.9rem !important;
        }
    }
}

.timeline {
    .card-body {
        img {
            height: 40;
            justify-content: center;
            align-items: center;
        }

        .title {
            color: #344767;
            font-family: 'Roboto';
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 21px;
            /* 150% */
        }

        .subtitle {
            color: #7B809A;
            font-family: 'Roboto';
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 15px;
            /* 125% */
        }
    }
}

.formkelengkapan {

    .btn-download {
        padding: 5px 20px !important;
        background: rgba(82, 122, 164, 0.12);
        border-radius: 5px;
        border: 1px solid #527AA4;
        color: #527AA4;
    }

    .btn-download:hover {
        padding: 5px 20px !important;
        background: rgba(82, 122, 164, 0.64);
        border-radius: 5px;
        border: 1px solid #527AA4;
        color: #fff;
    }

    .titleheading {
        color: #527AA4;
        font-family: 'Poppins';
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @media screen and (max-width: 720px) {
            font-size: 18px;
        }
    }
}

.bold {
    font-weight: 700;
}

.sub-cp {
    color: #000;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.soal {
    .title {
        color: #000;
        font-family: 'Poppins';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    span.bold-blue {
        color: #003459;
        font-family: 'Poppins';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .sub-title {
        color: #000;
        font-family: 'Poppins';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.countdownBar {
    .nominal {
        width: 100%;
        border: 3px solid #000;
        background: linear-gradient(0deg, #FFFBFB 0%, #FFFBFB 100%), #FFF;
        box-shadow: 4px 4px 0px 0px #000;

        p.count {
            margin: 3px auto;
            color: #000;
            text-align: center;
            font-family: 'Inter';
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            text-transform: uppercase;

        }

        .subtitle {
            border-top: 3px solid #000;
            padding-top: 7px;
            padding-bottom: 7px;
            margin: 0px;
            color: #000;
            text-align: center;
            font-family: 'Inter';
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.51px;
            text-transform: uppercase;
        }

        .day {
            background: linear-gradient(0deg, #97CADB 0%, #97CADB 100%), #FFF;
        }

        .hour {
            background: #ACCE82;
        }

        .minute {
            background: #E1CCD5;
        }

        .second {
            background: linear-gradient(0deg, #CDB8D4 0%, #CDB8D4 100%), #FFF;
        }
    }
}

.aanwijizing {
    .title {
        color: #003459;
        font-family: 'Poppins';
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .subtitle {
        color: #000;
        font-family: 'Poppins';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media screen and (max-width: 720px) {
            font-size: 12px !important;
        }
    }

    label.form-pendaftaran {
        color: #000;
        font-family: 'Poppins';
        font-size: 12px;
        font-style: normal;
        font-weight: 600 !important;
        line-height: normal;
    }

    .sublabel {
        color: #BC4749;
        font-family: 'Poppins';
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @media screen and (max-width: 720px) {
            font-size: 12px;
        }
    }
}

.hint-blue {
    color: #527AA4;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.formbody-header {
    color: #003459;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.subtitleform {
    color: #BC4749;
    font-family: 'Poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (max-width: 720px) {
        font-size: 13px !important;
    }
}

.dark-blue {
    color: #003459 !important;
}

p.hero-subtitle {
    color: #000;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-desc {
    color: #000;
    font-family: 'Poppins';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.table.transparent-table {
    background-color: rgba(255, 255, 255, 0);
    /* 0 adalah nilai untuk transparansi */
}

.anounce {
    color: #000;
    font-family: 'Poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.c-red {
    color: #BC4749
}

.c-green {
    color: #4B877F
}

.c-black {
    color: #000 !important;
}

.admin-teamstatus {
    border-radius: 5px;
    display: inline-flex;
    padding: 5px 10px !important;
    justify-content: center;
    align-items: center;
    gap: 10px;

    p {
        margin: 0px !important;
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.gec-00{
    background: #FFE898;
    p{
        color: #000;
    }
}

.gec-01{
    background: #BC4749;
    p{
        color: #fff;
    }
}

.gec-1{
    background: #DBF4A7;
    p{
        color: #000;
    }
}

.gec-11{
    background: #BC4749;
    p{
        color: #fff;
    }
}

.gec-2{
    background: #DBF4A7;
    p{
        color: #000;
    }
}

.gec-3{
    background: #4B877F;
    p{
        color: #fff;
    }
}

.gec-31{
    background: #DCB2C8;
    p{
        color: #000;
    }
}

.ct-black{
    color: #000;
}

.titleheading {
    color: #527AA4;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media screen and (max-width: 720px) {
        font-size: 18px;
    }
}

.detail{
    .btn-download {
        padding: 5px 20px !important;
        background: rgba(82, 122, 164, 0.12);
        border-radius: 5px;
        border: 1px solid #527AA4;
        color: #527AA4;
    }
}

.monitoring{
    .card{
        .card-header{
            color: #000;
            font-family: 'Poppins';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .isi{
            color: #000;
            font-family: 'Poppins';
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    .bg-yellow{
        background: rgba(255, 232, 152, 0.62);
    }
    .bg-green{
        background: rgba(219, 244, 167, 1);
    }
    .bg-red{
        background: rgba(220, 178, 200, 1);
    }
    }
}

