@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Golos+Text:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Golos+Text:wght@400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
input.form-control:hover {
  box-shadow: none !important;
}

.general .profiledropdown p {
  padding-left: 20px;
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 14px */
}
.general .welcome-hero {
  border-bottom: 3px solid #527AA4;
}
.general .welcome-hero .title-1 {
  color: #000;
  font-family: "Poppins";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.general .welcome-hero .subtitle-1 {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.general .welcome-hero .subtitle-2 {
  color: #527AA4;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.general .welcome-hero img {
  width: 100%;
}
.general .card-competition .gec img {
  height: 165px;
}
.general .card-competition .gec .card-gec {
  border-radius: 12px 12px 0 0;
  border: 3px solid #539275;
  background: #FFF;
  height: 294.33px;
}
.general .card-competition .gec .ket-pendaftaran {
  font-family: "Poppins";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 8px */
}
.general .card-competition .gec .details {
  border-radius: 0 0 12px 12px;
  border: 3px solid #539275;
}
.general .card-competition .gec .detailpendaftaran {
  border-radius: 0 0 0 12px;
  background-color: #FFF;
}
.general .card-competition .gec .detailpendaftaran .ket-pendaftaran {
  color: #539275 !important;
  font-family: "Poppins";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 8px */
}
.general .card-competition .gec .detailanggota {
  border-radius: 0 0 12px 0;
  background-color: #539275;
}
.general .card-competition .gec .detailanggota .ket-pendaftaran {
  color: white !important;
  font-family: "Poppins";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 8px */
}
.general .card-competition .gec .detail {
  color: #000;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
}
.general .card-competition .gec .card-gec {
  border-radius: 12px 12px 0 0;
  border: 3px solid #539275;
  background: #FFF;
}
.general .card-competition .gec .card-gec1 {
  width: 100%;
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  border-left: 3px solid #539275;
  border-right: 3px solid #539275;
}
.general .card-competition .cpcc .card-cpcc {
  border-radius: 12px 12px 0 0;
  border: 3px solid #93B4D1;
  background: #FFF;
  height: 294.33px;
}
.general .card-competition .cpcc .ket-pendaftaran {
  font-family: "Poppins";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 8px */
}
.general .card-competition .cpcc .card-cpcc1 {
  width: 100%;
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  border-left: 3px solid #93B4D1;
  border-right: 3px solid #93B4D1;
}
.general .card-competition .cesc .card-cesc {
  border-radius: 12px 12px 0 0;
  border: 3px solid #C0B4D1;
  background: #FFF;
  height: 294.33px;
}
.general .card-competition .cesc .ket-pendaftaran {
  font-family: "Poppins";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 8px */
}
.general .card-competition .cesc .card-cesc1 {
  width: 100%;
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  border-left: 3px solid #C0B4D1;
  border-right: 3px solid #C0B4D1;
}
.general .card-competition .cesc .detailanggota {
  background-color: #C0B4D1;
}
.general .card-competition .details {
  border-radius: 0 0 12px 12px;
  border: 3px solid #C0B4D1;
}
.general .card-competition .detailpendaftaran {
  border-radius: 0 0 0 12px;
  background-color: #FFF;
}
.general .card-competition .detailpendaftaran .ket-pendaftaran {
  color: #C0B4D1 !important;
  font-family: "Poppins";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 8px */
}
.general .card-competition .detailanggota {
  border-radius: 0 0 12px 0;
  background-color: #93B4D1;
}
.general .card-competition .detailanggota .ket-pendaftaran {
  color: white !important;
  font-family: "Poppins";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 8px */
}
.general .card-competition .detail {
  color: #000;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
}
.general .card-competition .card-cesc {
  border-radius: 12px;
  border: 3px solid #C0B4D1;
  background: #FFF;
}
.general .card-competition .competitle {
  width: 100%;
  color: #000;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: center;
}
.general .back a:hover {
  background-color: hsla(0, 0%, 0%, 0.22) !important;
}
.general .card-header .title {
  color: #000;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.general .card-header .term {
  color: #BC4749;
  font-family: "Poppins";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-pendaftaran {
  color: #000;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fileupload .btn-file {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}
.fileupload .btn-file p.imagetitle {
  color: #0F172A;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.fileupload .btn-file p.imagetitle span {
  color: #527AA4;
}
.fileupload .btn-file p.imagesubtitle {
  color: #6A738F;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.fileupload .btn-file__actions {
  margin: 0;
  padding: 0;
}
.fileupload .btn-file__actions__item {
  padding: 35px;
  font-size: 1.5em;
  color: rgba(82, 121, 163, 0.62);
  cursor: pointer;
  text-decoration: none;
  border-top: 3px dashed rgba(82, 121, 163, 0.62);
  border-left: 3px dashed rgba(82, 121, 163, 0.62);
  border-bottom: 3px dashed rgba(82, 121, 163, 0.62);
}
.fileupload .btn-file__actions__item:first-child {
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}
.fileupload .btn-file__actions__item:last-child {
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  border-right: 3px dashed rgba(82, 121, 163, 0.62);
}
.fileupload .btn-file__actions__item:hover,
.fileupload .btn-file__actions__item:focus {
  color: #636b6f;
  background-color: rgba(211, 224, 233, 0.1);
}
.fileupload .btn-file__actions__item:hover--shadow,
.fileupload .btn-file__actions__item:focus--shadow {
  box-shadow: rgba(82, 121, 163, 0.62) 0 0 60px 15px;
}
.fileupload .btn-file__actions__item--shadow {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.fileupload .btn-file__actions__item--shadow::before {
  content: " ";
  box-shadow: #fff 0 0 60px 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: -1;
}
.fileupload .btn-file__preview {
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 35px;
  background-size: cover;
  background-position: center;
}
.fileupload .form-group label.attachment {
  width: 100%;
}
.fileupload .form-group label.attachment .btn-create > a,
.fileupload .form-group label.attachment .btn-create > div {
  margin-top: 5px;
}
.fileupload .form-group label.attachment input[type=file] {
  display: none;
}

.image-sub-label {
  color: #000;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-civex {
  background-color: #527AA4 !important;
  border-color: #527AA4 !important;
  color: #fff !important;
  padding: 6px 45px !important;
  text-align: center;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn-civex:hover {
  background-color: rgba(255, 255, 255, 0.62) !important;
  border-color: #527AA4 !important;
  color: #527AA4 !important;
  padding: 6px 45px !important;
  text-align: center;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn-civex-danger {
  background-color: #BC4749 !important;
  border-color: #BC4749 !important;
  color: #fff !important;
  padding: 6px 45px !important;
  text-align: center;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn-civex-danger:hover {
  background-color: #fff !important;
  border-color: #BC4749 !important;
  color: #BC4749 !important;
  padding: 6px 45px !important;
  text-align: center;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.kuotahabis {
  border-radius: 5px;
  background: #BC4749;
  display: flex;
  padding: 5px 15px !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #FFF;
  text-align: center;
  font-family: "Roboto";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.authcard {
  height: 90vh !important;
}
.authcard .vh-95 {
  height: 95vh !important;
}
.authcard .card {
  border-radius: 10 !important;
  border: 2px solid #000 !important;
}
.authcard .closebutton {
  width: 20.665px;
}
.authcard .title {
  color: #000;
  font-family: "Golos Text";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.authcard .subtitle {
  color: #000;
  font-family: "Poppins";
  font-size: 12 !important;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.authcard input.form-control {
  height: 35px !important;
}
.authcard .formtitle {
  color: #000;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.authcard .submitbutton {
  height: 35px;
  border-radius: 5px;
  border: 1px solid #000;
  background: #C8D3D5;
  width: 100%;
  color: #000;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.authcard .submitbutton:hover {
  background: #527AA4;
  color: white;
  transition: background-color 0.5s ease;
}
.authcard .actionfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.authcard .actionfield p {
  margin-bottom: 0px;
  color: #000;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.authcard .actionfield p span {
  color: #003459;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.authcard .registercard {
  max-height: 450px;
}
.authcard .registercard .registerform {
  padding-bottom: 30px;
  height: 400px;
  overflow: auto;
}
.authcard .registercard ::-webkit-scrollbar {
  width: 5px;
}
.authcard .registercard ::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.42);
}
.authcard .registercard ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(0, 52, 89, 0.42);
}

.redsquare {
  width: 186px;
  position: absolute;
  left: 19px;
  top: 200px;
}

.bluesquare {
  width: 186px;
  position: absolute;
  left: 15%;
  top: 80%;
  opacity: 0.5;
}

.yellowsquare {
  width: 186px;
  position: absolute;
  right: 10%;
  top: 20%;
}

.purplestar {
  width: 229px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.bluestar {
  width: 200px;
  position: absolute;
  right: 20%;
  top: 30%;
}

.modalregister {
  max-width: 650px !important;
  width: 100% !important;
  height: 350px !important;
}
.modalregister button {
  text-align: end !important;
  position: relative;
  width: 100% !important;
}
.modalregister button img {
  position: absolute;
  right: 20px;
  top: 30px;
  width: 20px;
  margin-bottom: 5px;
  opacity: 0.5;
}
@media screen and (max-width: 500px) {
  .modalregister button img {
    width: 15px !important;
    right: 25px;
    top: 35px;
  }
}
.modalregister img {
  max-width: 100%;
}

.c-gec {
  color: #539275 !important;
}

.c-cpcc {
  color: #93B4D1 !important;
}

.c-cesc {
  color: #C0B4D1 !important;
}

.footer {
  background-color: transparent !important;
}
.footer .text {
  color: var(--grey-secondary, #7987A1);
  font-family: "Roboto";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 184.615% */
}
.footer img {
  height: 40px;
}/*# sourceMappingURL=style.css.map */